h1 {
    font-family: "Fire Sans", sans-serif;
    color: blue;
    float: top;
    margin-bottom: 0px;
}

.dialogBox {
    width: 3000px;
}

.halfBox {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 30px;
    padding-right: 30px;
}

p {
    color: black;
    font-family: 'Arimo', sans-serif;
    justify-content: left;
    font-size: 20px;
    margin: 0px;

}

h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 10px;
}

.bookClass {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.buttonBook {
    float: center;
}


/* .journals {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}
 
.th {
    border-bottom: 1px solid black;
}
 
.td {
    text-align: center;
} */



