* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: min-content;
  background: #2b1055;
  font-family: 'Arimo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: white;
}

.navbar a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fff;
  transition: width 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
} */

.brand {
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  margin-top: 20px;
  justify-content: baseline;
}

.logo {
  width: 15%;
}

.block {
  display: flex;
  justify-content: left;
}

.links {
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
}

.link {
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
}

.activeLink {
  background-color: lightblue;
  color: white;
}

h1 {
  font-family: "Fire Sans", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

p {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  margin: 10px;
}
