/* .content {
    height: 100vh;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    background: gray;
    color: white;
    border-radius: 20px;
    font-size: 50px;
} */

.parallax {
    background-image: url("../../images/sparkle.jpg");

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../../images/gator.png");

    height: 200vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 1000px;
    background-color: red;
    font-size: 36px;
}